Data/ESACCI-BIOMASS-L4-AGB-CHANGE-100m-2020-2010-fv6.0.nc
Data/ESACCI-BIOMASS-L4-AGB-MERGED-100m-2010-fv6.0.nc
Data/ESACCI-BIOMASS-L4-AGB-MERGED-100m-2020-fv6.0.nc
Data/FTY_2015_100m_eu_03035_d02_Full/FTY_2015_100m_eu_03035_d02_full_QGISColour.txt
Data/FTY_2015_100m_eu_03035_d02_Full/FTY_2015_100m_eu_03035_d02_full.tfw
Data/FTY_2015_100m_eu_03035_d02_Full/FTY_2015_100m_eu_03035_d02_full.tif
Data/FTY_2015_100m_eu_03035_d02_Full/FTY_2015_100m_eu_03035_d02_full.tif.aux.xml
Data/FTY_2015_100m_eu_03035_d02_Full/FTY_2015_100m_eu_03035_d02_full.tif.clr
Data/FTY_2015_100m_eu_03035_d02_Full/FTY_2015_100m_eu_03035_d02_full.tif.clr.txt
Data/FTY_2015_100m_eu_03035_d02_Full/FTY_2015_100m_eu_03035_d02_full.tif.ovr
Data/FTY_2015_100m_eu_03035_d02_Full/FTY_2015_100m_eu_03035_d02_full.tif.vat.cpg
Data/FTY_2015_100m_eu_03035_d02_Full/FTY_2015_100m_eu_03035_d02_full.tif.vat.dbf
Data/FTY_2015_100m_eu_03035_d02_Full/FTY_2015_100m_eu_03035_d02_full.tif.vat.dbf.xml
Data/FTY_2015_100m_eu_03035_d02_Full/FTY_2015_100m_eu_03035_d02_full.tif.xml
Data/FTY_2015_100m_eu_03035_d02_Full/LandCoverRaster_Mapping_Table_FTY_2015.xlsx
Data/italy/annual_disturbances_1985_2023_italy.tif
Data/italy/disturbance_agent_1985_2023_italy.tif
Data/italy/disturbance_agent_aggregated_italy.tif
Data/italy/disturbance_probability_1985_2023_italy.tif
Data/italy/disturbance_binary_2015_2020.tif
Data/BiomassItaly2010.tif
Data/EEA_forest_type_cropped.tif
Data/BiomassItaly2020.tif
.Rproj.user
biomass_complete_data.csv
biomass_complete_data_with_bg.csv
biomass_complete_data_deltaABG.csv
biomass_complete_data_with_bg_deltaABG.csv
biomass_complete_data_delta.csv
biomass_complete_data_with_bg_delta.csv
biomass_complete_data_deltaABGDrivers.csv
biomass_complete_data_with_bg_deltaABGDrivers.csv
