BiogeoRegions2016.cpg
BiogeoRegions2016.dbf
BiogeoRegions2016.prj
BiogeoRegions2016.shp
BiogeoRegions2016.shx
BiogeoRegions2016.sqlite
grid_forest.gpkg
BG_raster.tif
Biomass2010_aligned.tif
EEA_forest_type_aligned.tif
BG_numeric.tif
biomass_summary_by_biogeoregion_forest.csv
Biomass2020_aligned.tif
biomass_summary_by_biogeoregion_forest_AGBLOSS.csv
biomass_summary_by_biogeoregion_forest_AGBLOSSDrivers.csv
disturbance_agents_2015_2020_filtered.tif
italy
biomass_broadleaf_needleleaf_map.png
biomass_by_hexagon_complete.csv
biomass_by_hexagon_map.png
biomass_by_hexagon_summary.csv
biomass_by_hexagon_total.csv
example_hexagon_biomass_density.png
grid_forest_with_biomass.gpkg
grid_forest_with_biomassType.gpkg
hexagon_biomass_distribution_faceted.png
biomass_by_hexagon_completeUndisturbed.csv
biomass_by_hexagon_summaryUndisturbed.csv
biomass_by_hexagon_totalUndisturbed.csv
grid_forest_with_biomassTypeUndisturbed.gpkg
grid_forest_with_biomassUndisturbed.gpkg
FTY_2015_020m_eu_03035_d04_Full
Hexs
czechia
Biomassczechia2010.tif
Biomassczechia2010_aligned.tif
Biomassczechia2020.tif
EEA_forest_type_alignedczechia.tif
EEA_forest_type_alignedczechia.tif.aux.xml
EEA_forest_type_croppedczechia.tif
EEA_forest_type_croppedczechia.tif.aux.xml
biomassczechia_by_hexagon_completeDisturbed.csv
biomassczechia_by_hexagon_completeUndisturbed.csv
biomassczechia_by_hexagon_summaryUndisturbed.csv
biomassczechia_by_hexagon_totalUndisturbed.csv
gridczechia_forest_with_biomassTypeUndisturbed.gpkg
gridczechia_forest_with_biomassUndisturbed.gpkg
Biomass2010_alignedEU.tif
EEA_forest_type_cropped_EU.tif
EEA_forest_type_alignedEU.tif
biomass_EU_by_hexagon_undisturbed_v2.csv
biomass_EU_by_hexagon_disturbed_v2.csv
biomass_EU_by_hexagon_disturbed_vNoHarvest2.csv
biomass_EU_by_hexagon_undisturbed_vNoHarvest.csv
biomass_EU_by_hexagon_undisturbed_vNoHarvest2.csv
agent_eu_vrt_100m.tif
disturbance_100m_threshold75.tif
undisturbance_100m_threshold75.tif
severity_100m.tif
biomass_LAEA_100m.tif
biomass_EU_2020_NoHarvest2DistributionSeverity.csv
biomass_EU_2020by_hexagon_undisturbed_vNoHarvestDistributions.csv
